@import "module/base.scss";
@import "module/header.scss";
@import "module/footer.scss";
main{
    width: 1240px;
    margin: 0px auto 0;
    background: #fbefef;
    .detail-container{
        width: 960px;
        margin: 0 auto;
        color: #000;
        background: #6666;
        a{
            color: blue;
            outline: none;
            cursor: pointer;
        }
    }
}