@import "module/base.scss";
@import "module/header.scss";
@import "module/footer.scss";
main{
    width: 1240px;
    margin: 0px auto 0;
    background: #fbefef;

    .detail-container{
        width: 960px;
        margin: 0 auto;
        color: #000;
        background: #6666;
        a{
            color: blue;
            outline: none;
            cursor: pointer;
        }
        .left{
            width: 530px;
            overflow: hidden;
            float: left;
            margin-bottom: 60px;
            margin-top: 25px;
            .left-top{
                width: 350px;
                height: 350px;
                margin: 0 auto;
                overflow: hidden;
                img{
                    width: 350px;
                    height: 350px;
                }
            }
            .left-bottom{
                display: table;
                margin: 20px auto 0px;
                div{
                    height: 55px;
                    width: 20px;
                    line-height: 55px;
                    font-weight: bold;
                }
                .lb-left{
                    float: left;
                    background: url(/img/de-left.png) no-repeat 0 19px;
                }
                .lb-right{
                    float: left;
                    text-align: right;
                    background: url(/img/de-right.png) no-repeat 3px 19px;
                }
                a{    
                    display: inline-block;
                    float: left;
                    border: solid 1px #fff;
                    text-decoration: none;
                    margin-right: 7px;
                    &:hover a{
                        border: solid 1px #7e7e7e;
                    }
                    img{
                        width: 55px;
                        height: 55px;
                        display: block;
                        border: solid 1px #7e7e7e;
                    }
                    
                }
            }
        }
        .right{
            padding-top: 65px;
            width: 350px;
            float: right;
            margin-bottom: 30px;
            .p1{
                font-size: 18px;
                line-height: 25px;
                color: #414141;
            }
            .p2{
                font-size: 12px;
                padding-top: 10px;
                color: #7b7b7b;
            }
            .right_pay{
                width: 330px;
                font-size: 24px;
                line-height: 45px;
                margin: 15px 0 13px 0;
                padding: 5px 0;
                border-top: solid 1px #b3b3b3;
                border-bottom: solid 1px #b3b3b3;
                position: relative;
                padding-left: 40px;
                span{
                    font-size: 12px;
                    position: absolute;
                    left: 0;
                    top: 6px;
                }
            }
            .select{
                font-size: 12px;
                padding: 10px 0;
                line-height: 20px;
                color: #000;
                span{
                    line-height: 40px;
                    display: block;
                    float: left;
                    margin-right: 5px;
                }
                .p-choose{
                    min-width: 100px;
                    min-height: 45px;
                    line-height: 20px;
                    img{
                        border: solid 2px #7e7e7e;
                        width: 40px;
                        height: 40px;

                    }
                }
                input{
                    font-size: 14px;
                    width: 40px;
                    height: 41px;
                    line-height: 36px;
                    text-align: center;
                    display: block;
                    float: left;
                    margin: 0;
                    border: none;
                    border: solid 1px #b3b3b3;

                }
                .u_d {
                    width: 20px;
                    float: left;
                    .up{
                        display: block;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        border: #b3b3b3 1px solid;
                        border-left: none;
                        background: url("/img/up.svg") 1px -2px;
                        background-size: 90% auto;
                    }
                    .down{
                        display: block;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        border-right: 1px solid #b3b3b3;
                        border-top: none;
                        border-bottom: 1px solid #b3b3b3;
                        background: url("/img/down.svg") 1px -1px;
                        background-size: 90% auto;
                    }
                }
            }
            .button{
                width: 160px;
                height: 40px;
                line-height: 38px;
                font-size: 14px;
                border: 1px solid #414141;
                display: inline-block;
                text-align: center;
            }
            .bar1 {
                background: #414141;
                color: #fff;
                margin: 60px -100px;
            }
            .bar2{
                margin: 15px 0px;
                margin-left: 115px;
                color: #000000;
            }
            .txt{
                font-size: 12px;
                position: relative;
                top: -35px;
            }
        }
    }
}