@import "module/base.scss";
@import "module/header.scss";
@import "module/footer.scss";
//@import "../libs/bootstrap/css/bootstrap.min.css";
main{
    height: 650px;
    width: 100%;
    max-width: 1920px;
    .bg-dlzc{
        width: 100%;
        height: 673px;
        position: relative;
        background-size: cover;
        background:url(/img/dlzc.jpg) no-repeat center;
        .form-container{
            margin:35px auto;
            left: 65%;
            width: 395px;
            height: 515px;
            background: #fafafa;
            
            // padding-top: 40px;
            // font-size: 14px;
            // color: #000;
            float: right;
            position: absolute;
            h1{
                color:#414141;
                text-align: center;
                margin-top: 50px;
                margin-bottom: 13px;
            }
          .form-horizontal{
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              height: 350px;
            //   .form-group{
            //       height: 150px;
            //   }
            .control-label{
                font-size: 16px;
                position: relative;
                top: 26px;
                left: 15px;
            }
            input{
                width: 290px;
                margin-left: 70px;
                border: solid 1px #b3b3b3;
                font-size: 14px;
                padding: 10px 0 10px 5px;
                position: relative;
                margin-top: 0px;
            }
            .checkbox{
                height: 100px;
                width: 400px;
                font-size: 12px;
                // background: red;
                span{
                    margin-left: 30px;
                }
                input{
                    width: 20px;
                    margin-top: 40px;
                 
                }
                a{
                    color: blue;
                }
            }
            .btn{
                width: 290px;
                height: 45px;
                color: #fafafa;
                line-height: 45px;
                margin-left: 60px;
                font-size: 16px;
                letter-spacing: 2px;
                border: none;
                background-color: #414141;
            }
          }
           
        }
    }

    
}
